{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "tailwindConfig": "./webapp/css/input.css"
}
