# For local development
services:
  building-signal-simulator:
    build:
      context: .
      dockerfile: Dockerfile
    image: building-signal-simulator:latest
    ports:
      - "1313:8080"
    environment:
      - JAVA_OPTS=-Xmx512m
    restart: unless-stopped 

# For production
# services:
#   building-signal-simulator:
#     image: ghcr.io/jjaroztegi/building-signal-simulator:latest
#     container_name: building_signal_simulator
#     ports:
#       - "1313:8080"
#     restart: unless-stopped 